footer {
  width: 100%;
  background-color: #f0f0f0;
  box-sizing: border-box;
  padding: 50px 0;
  margin-top: 120px;
}

.footer__item img {
  width: 147px;
  height: 51px;
  object-fit: contain;
  background-position: center;
  background-size: cover;
}

.footer__item p {
  font-size: 14px;
  color: #888;
  width: 258px;
  margin: 0;
  line-height: 1.5;
  margin-top: 30px;
}

.footer__item h3 {
  font-size: 16px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 45px;
}

.footer__item ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.footer__item ul li a i {
  width: 44px;
  height: 44px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  line-height: 44px;
  font-size: 20px;
  color: black;
}

.footer__quick h3 {
  font-size: 16px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 40px;
}

.footer__quick ul {
  list-style: none;
  padding: 0;
}
.footer__quick {
  width: 240px;
}

.footer__quick ul li a {
  color: black;
  text-decoration: none;
  line-height: 1.5;
  color: #888;
  transition: all 0.2s linear;
}

.footer__quick ul li a:hover {
  color: rgb(254 96 25);
  text-decoration: underline;
}

.footer__quick p {
  font-size: 14px;
  width: 258px;
  color: #888;
  line-height: 1.5;
  margin: 0;
}

.footer__tp {
  display: flex;
  gap: 70px;
  justify-content: center;
}

.footer__bt p {
  font-size: 14px;
  color: #888;
  text-align: center;
}

.footer__hr {
  font-size: 1px;
  background-color: #888;
  margin-top: 30px;
  margin-bottom: 30px;
}
